In [2]:
import pandas as pd
from statsmodels.tsa.arima.model import ARIMA
Train=pd.read_csv('/kaggle/input/ml-olympiad-co2-emissions-prediction-challenge/train.csv')
Test= pd.read_csv('/kaggle/input/ml-olympiad-co2-emissions-prediction-challenge/test.csv')
sample_submission= pd.read_csv('/kaggle/input/dataset-creation/3- co-emissions-per-capita.csv')
sample_submission2= pd.read_csv('/kaggle/input/ml-olympiad-co2-emissions-prediction-challenge/sample_submission.csv')

In [38]:
sample_submission2= pd.read_csv('/kaggle/input/subissino/submission (28) (1).csv')

In [29]:
Train=pd.read_csv('/kaggle/input/ml-olympiad-co2-emissions-prediction-challenge/train.csv')

In [28]:
Train2

,Country Code,Country Name,Indicator,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015]
0,Afg,Afghanistan,Access to electricity (% of population),4.446890831,9.294527054,14.13361645,18.9711647,23.81418228,28.66967201,33.54441833,38.44000244,42.4,48.27900696,42.7,43.22201891,69.1,68.0408783,89.5,71.5
1,Afg,Afghanistan,Agricultural land (% of land area),57.94581666,57.94734986,57.93968385,58.08380479,58.15126566,58.13440044,58.12366803,58.12980084,58.13286724,58.13286724,58.13440044,58.13133404,58.12980084,58.12366803,58.12366803,58.12366803
2,Afg,Afghanistan,"Annual freshwater withdrawals, total (% of int...",43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668
3,Afg,Afghanistan,Arable land (% of land area),11.77958696,11.77958696,11.77192095,11.91604189,11.98350275,11.96663754,11.94977232,11.94977232,11.94977232,11.94823912,11.94823912,11.94517272,11.94363951,11.93597351,11.91450869,11.90530948
4,Afg,Afghanistan,Forest area (% of land area),1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3187,Wor,World,Renewable electricity output (% of total elect...,18.33315487,17.86959113,17.78865441,17.37855417,17.80971628,17.97509024,18.11623199,17.88139672,18.55474759,19.33418182,19.56099755,19.93282502,20.90153641,21.71034584,22.40725845,22.85445608
3188,Wor,World,Renewable energy consumption (% of total final...,17.59000309,17.26302634,17.27447326,17.12018657,16.81846282,16.65049643,16.72202078,16.53042595,16.68234557,17.09256113,16.74770892,16.71762707,16.95344844,17.21164809,17.38010859,17.4241285
3189,Wor,World,Population growth (annual %),1.353162379,1.334998901,1.313657426,1.289152008,1.274940577,1.263746841,1.257648196,1.2427407,1.248567818,1.238302021,1.224604932,1.206011787,1.238181678,1.231089145,1.213632987,1.186406874
3190,Wor,World,GDP per capita (current US$),5517.121715,5410.749791,5545.61076,6138.110737,6829.846305,7303.74346,7816.391751,8700.587475,9443.240891,8842.426339,9570.618407,10485.49418,10587.93714,10749.96067,10911.12712,10168.12454
3191,Wor,World,CO2 emissions (metric tons per capita),3.951660425,3.958088692,3.961470273,4.090081614,4.223794234,4.329790027,4.417134594,4.528275107,4.503795413,4.391450538,4.604869382,4.68946885,4.685377082,4.719665779,4.682408225,4.601683731

In [4]:
j= pd.read_csv('/kaggle/input/missing-prediction/data.csv')
missing_value2 = j.values
training_list=[]
training_list = [j for j in unique if j not in missing_value2]
unique_values = set(training_list)

NameError: name 'unique' is not defined

In [ ]:
sample_submission

In [3]:
unique_p= sample_submission['Entity'].unique()

In [ ]:
unique_p

In [4]:
j= pd.read_csv('/kaggle/input/missing-prediction/data.csv')
missing_value2 = j.values
training_list=[]
training_list = [j for j in missing_value2 if j in unique_p]
unique_values = set(training_list)
unique_values

TypeError: unhashable type: 'numpy.ndarray'

In [5]:
for i in training_list:
    print(i[0])

Aruba
Bermuda
British Virgin Islands
Curacao
Faroe Islands
French Polynesia
Greenland
Kosovo
New Caledonia
Sint Maarten (Dutch part)
Turks and Caicos Islands

In [ ]:
sample_submission

In [6]:
filtered_df = sample_submission[sample_submission['Year'].isin([2000, 2001, 2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015])]

In [7]:
filtered_df

            Entity Code  Year  Annual CO₂ emissions (per capita)
51     Afghanistan  AFG  2000                           0.053581
52     Afghanistan  AFG  2001                           0.054300
53     Afghanistan  AFG  2002                           0.063856
54     Afghanistan  AFG  2003                           0.068871
55     Afghanistan  AFG  2004                           0.052529
...            ...  ...   ...                                ...
26588     Zimbabwe  ZWE  2011                           0.795591
26589     Zimbabwe  ZWE  2012                           0.848359
26590     Zimbabwe  ZWE  2013                           0.861012
26591     Zimbabwe  ZWE  2014                           0.862179
26592     Zimbabwe  ZWE  2015                           0.865772

[3692 rows x 4 columns]

In [ ]:
for i in training_list:
    fg = Train[Train['Country Name'] == i[0]]

In [ ]:
fg = Train[Train['Country Name'] == training_list[0][0]]
fg2 = filtered_df[filtered_df['Entity'] == training_list[0][0]]

In [ ]:
tr=fg2['Annual CO₂ emissions (per capita)'].reset_index(drop=True)

In [ ]:
fg2

In [14]:
training_list.remove('Kosovo')

In [15]:
training_list

[array(['Aruba'], dtype=object),
 array(['Bermuda'], dtype=object),
 array(['British Virgin Islands'], dtype=object),
 array(['Curacao'], dtype=object),
 array(['Faroe Islands'], dtype=object),
 array(['French Polynesia'], dtype=object),
 array(['Greenland'], dtype=object),
 array(['New Caledonia'], dtype=object),
 array(['Sint Maarten (Dutch part)'], dtype=object),
 array(['Turks and Caicos Islands'], dtype=object)]

In [30]:
columns_to_drop = ['Country Code']
Train = Train.drop(columns_to_drop, axis=1)

In [31]:
for i in training_list:
    try:
        fg = Train2[Train2['Country Name'] == i[0]]
        fg2 = filtered_df[filtered_df['Entity'] == i[0]]
        tr=fg2['Annual CO₂ emissions (per capita)'].reset_index(drop=True)
        row_index = Train[(Train['Country Name'] == i[0]) & (Train['Indicator'] == 'CO2 emissions (metric tons per capita)')].index[0]
            
        

        new_values = [i[0],'CO2 emissions (metric tons per capita)',tr[0],tr[1],tr[2],tr[3],tr[4],tr[5],tr[6],tr[7],tr[8],tr[9],tr[10],tr[11],tr[12],tr[13],tr[14],tr[15]]
        Train.loc[row_index] = new_values
    except:
        print(i[0])

In [21]:
row_index

24264

In [ ]:
for i in training_list:
        fg = Train[Train['Country Name'] == i[0]]
        fg2 = filtered_df[filtered_df['Entity'] == i[0]]
        tr=fg2['Annual CO₂ emissions (per capita)'].reset_index(drop=True)
        for index, row in Train.iterrows():
            # Check if both 'sa' and 'ka' are present in the row
            if i[0] in row.values and 'ka' in row.values:
            # If both are present, get the index of the first occurrence and break the loop
                column_index = row[row.isin([i[0], 'CO2 emissions (metric tons per capita)'])].index[0]
                break

        new_values = [i,tr[0],tr[1],tr[2],tr[3],tr[4],tr[5],tr[6],tr[7],tr[8],tr[9],tr[10],tr[11],tr[12],tr[13],tr[14],tr[15]]
        Train.loc[row_index] = new_values

In [17]:
filtered_df

            Entity Code  Year  Annual CO₂ emissions (per capita)
51     Afghanistan  AFG  2000                           0.053581
52     Afghanistan  AFG  2001                           0.054300
53     Afghanistan  AFG  2002                           0.063856
54     Afghanistan  AFG  2003                           0.068871
55     Afghanistan  AFG  2004                           0.052529
...            ...  ...   ...                                ...
26588     Zimbabwe  ZWE  2011                           0.795591
26589     Zimbabwe  ZWE  2012                           0.848359
26590     Zimbabwe  ZWE  2013                           0.861012
26591     Zimbabwe  ZWE  2014                           0.862179
26592     Zimbabwe  ZWE  2015                           0.865772

[3692 rows x 4 columns]

In [11]:
filtered_df2 = filtered_df[filtered_df['Entity'].isin(['Aruba',
'Bermuda',
'British Virgin Islands',
'Curacao',
'Faroe Islands',
'French Polynesia',
'Greenland',
'Kosovo',
'New Caledonia',
'Sint Maarten (Dutch part)',
'Turks and Caicos Islands'])]

In [12]:
filtered_df2

                         Entity Code  Year  Annual CO₂ emissions (per capita)
1258                      Aruba  ABW  2000                          26.683304
1259                      Aruba  ABW  2001                          26.540186
1260                      Aruba  ABW  2002                          26.542625
1261                      Aruba  ABW  2003                          27.624346
1262                      Aruba  ABW  2004                          27.963486
...                         ...  ...   ...                                ...
24285  Turks and Caicos Islands  TCA  2011                           9.148119
24286  Turks and Caicos Islands  TCA  2012                           8.787665
24287  Turks and Caicos Islands  TCA  2013                           8.500654
24288  Turks and Caicos Islands  TCA  2014                           8.790084
24289  Turks and Caicos Islands  TCA  2015                           8.519531

[172 rows x 4 columns]

In [1]:
f1=filtered_df[filtered_df['Entity'].isin(['Aruba'])]

NameError: name 'filtered_df' is not defined

In [9]:
for i in training_list:
    f1=filtered_df[filtered_df['Entity'].isin([i[0]])]
    print(f1)
    print('eatting')

     Entity Code  Year  Annual CO₂ emissions (per capita)
1258  Aruba  ABW  2000                          26.683304
1259  Aruba  ABW  2001                          26.540186
1260  Aruba  ABW  2002                          26.542625
1261  Aruba  ABW  2003                          27.624346
1262  Aruba  ABW  2004                          27.963486
1263  Aruba  ABW  2005                          28.770708
1264  Aruba  ABW  2006                          28.393595
1265  Aruba  ABW  2007                          29.146358
1266  Aruba  ABW  2008                          27.104464
1267  Aruba  ABW  2009                          26.476603
1268  Aruba  ABW  2010                          24.973354
1269  Aruba  ABW  2011                          24.666824
1270  Aruba  ABW  2012                          13.202827
1271  Aruba  ABW  2013                           8.368467
1272  Aruba  ABW  2014                           8.416729
1273  Aruba  ABW  2015                           8.609270
eatting
       Entity Code  Year  Annual CO₂ emissions (per capita)
3218  Bermuda  BMU  2000                           8.415442
3219  Bermuda  BMU  2001                           8.539549
3220  Bermuda  BMU  2002                           8.960165
3221  Bermuda  BMU  2003                           8.970907
3222  Bermuda  BMU  2004                           9.282748
3223  Bermuda  BMU  2005                           9.250174
3224  Bermuda  BMU  2006                          10.336503
3225  Bermuda  BMU  2007                          11.540431
3226  Bermuda  BMU  2008                          10.249032
3227  Bermuda  BMU  2009                           7.515897
3228  Bermuda  BMU  2010                           9.583462
3229  Bermuda  BMU  2011                           6.975863
3230  Bermuda  BMU  2012                           5.762728
3231  Bermuda  BMU  2013                           8.420734
3232  Bermuda  BMU  2014                          10.580071
3233  Bermuda  BMU  2015                           8.527000
eatting
                      Entity Code  Year  Annual CO₂ emissions (per capita)
3975  British Virgin Islands  VGB  2000                           5.825698
3976  British Virgin Islands  VGB  2001                           6.022528
3977  British Virgin Islands  VGB  2002                           6.706213
3978  British Virgin Islands  VGB  2003                           6.660607
3979  British Virgin Islands  VGB  2004                           6.767283
3980  British Virgin Islands  VGB  2005                           7.009608
3981  British Virgin Islands  VGB  2006                           7.374959
3982  British Virgin Islands  VGB  2007                           7.410827
3983  British Virgin Islands  VGB  2008                           7.429205
3984  British Virgin Islands  VGB  2009                           7.174493
3985  British Virgin Islands  VGB  2010                           7.705852
3986  British Virgin Islands  VGB  2011                           7.594054
3987  British Virgin Islands  VGB  2012                           7.472292
3988  British Virgin Islands  VGB  2013                           7.408988
3989  British Virgin Islands  VGB  2014                           7.454345
3990  British Virgin Islands  VGB  2015                           7.728380
eatting
       Entity Code  Year  Annual CO₂ emissions (per capita)
6195  Curacao  CUW  2000                          35.282955
6196  Curacao  CUW  2001                          36.130047
6197  Curacao  CUW  2002                          34.647230
6198  Curacao  CUW  2003                          34.251926
6199  Curacao  CUW  2004                          35.449493
6200  Curacao  CUW  2005                          34.613716
6201  Curacao  CUW  2006                          35.496902
6202  Curacao  CUW  2007                          39.314020
6203  Curacao  CUW  2008                          37.211860
6204  Curacao  CUW  2009                          37.489430
6205  Curacao  CUW  2010                          25.438667
6206  Curacao  CUW  2011                          31.993258
6207  Curacao  CUW  2012                          38.347305
6208  Curacao  CUW  2013                          35.681152
6209  Curacao  CUW  2014                          40.448483
6210  Curacao  CUW  2015                          43.210606
eatting
             Entity Code  Year  Annual CO₂ emissions (per capita)
8893  Faroe Islands  FRO  2000                          15.078189
8894  Faroe Islands  FRO  2001                          16.470620
8895  Faroe Islands  FRO  2002                          15.489293
8896  Faroe Islands  FRO  2003                          15.454699
8897  Faroe Islands  FRO  2004                          15.569406
8898  Faroe Islands  FRO  2005                          14.939626
8899  Faroe Islands  FRO  2006                          14.022922
8900  Faroe Islands  FRO  2007                          14.237066
8901  Faroe Islands  FRO  2008                          13.010612
8902  Faroe Islands  FRO  2009                          11.872044
8903  Faroe Islands  FRO  2010                          13.012223
8904  Faroe Islands  FRO  2011                          11.731218
8905  Faroe Islands  FRO  2012                          12.185581
8906  Faroe Islands  FRO  2013                          13.387169
8907  Faroe Islands  FRO  2014                          12.315585
8908  Faroe Islands  FRO  2015                          12.451360
eatting
                Entity Code  Year  Annual CO₂ emissions (per capita)
9412  French Polynesia  PYF  2000                           2.438393
9413  French Polynesia  PYF  2001                           2.844386
9414  French Polynesia  PYF  2002                           2.799515
9415  French Polynesia  PYF  2003                           2.965370
9416  French Polynesia  PYF  2004                           2.880341
9417  French Polynesia  PYF  2005                           3.054809
9418  French Polynesia  PYF  2006                           2.985493
9419  French Polynesia  PYF  2007                           2.923951
9420  French Polynesia  PYF  2008                           2.977524
9421  French Polynesia  PYF  2009                           2.972298
9422  French Polynesia  PYF  2010                           3.253503
9423  French Polynesia  PYF  2011                           3.108187
9424  French Polynesia  PYF  2012                           3.055560
9425  French Polynesia  PYF  2013                           3.052941
9426  French Polynesia  PYF  2014                           2.932413
9427  French Polynesia  PYF  2015                           2.900602
eatting
          Entity Code  Year  Annual CO₂ emissions (per capita)
10260  Greenland  GRL  2000                          11.881094
10261  Greenland  GRL  2001                          10.963848
10262  Greenland  GRL  2002                          10.251471
10263  Greenland  GRL  2003                          11.441866
10264  Greenland  GRL  2004                          11.241422
10265  Greenland  GRL  2005                          11.309283
10266  Greenland  GRL  2006                          11.662620
10267  Greenland  GRL  2007                          11.524961
10268  Greenland  GRL  2008                          11.968251
10269  Greenland  GRL  2009                          10.493969
10270  Greenland  GRL  2010                          12.051655
10271  Greenland  GRL  2011                          12.894264
10272  Greenland  GRL  2012                          10.312895
10273  Greenland  GRL  2013                          10.032130
10274  Greenland  GRL  2014                           9.337025
10275  Greenland  GRL  2015                           9.401817
eatting
       Entity      Code  Year  Annual CO₂ emissions (per capita)
13012  Kosovo  OWID_KOS  2004                           0.089617
13013  Kosovo  OWID_KOS  2005                           0.089032
13014  Kosovo  OWID_KOS  2006                           0.088452
13015  Kosovo  OWID_KOS  2007                           0.091775
13016  Kosovo  OWID_KOS  2008                           4.082390
13017  Kosovo  OWID_KOS  2009                           4.511439
13018  Kosovo  OWID_KOS  2010                           4.660760
13019  Kosovo  OWID_KOS  2011                           4.609726
13020  Kosovo  OWID_KOS  2012                           4.332393
13021  Kosovo  OWID_KOS  2013                           4.413508
13022  Kosovo  OWID_KOS  2014                           4.012053
13023  Kosovo  OWID_KOS  2015                           4.712913
eatting
              Entity Code  Year  Annual CO₂ emissions (per capita)
16719  New Caledonia  NCL  2000                          10.022451
16720  New Caledonia  NCL  2001                           8.303762
16721  New Caledonia  NCL  2002                          10.382526
16722  New Caledonia  NCL  2003                          11.613286
16723  New Caledonia  NCL  2004                          10.537816
16724  New Caledonia  NCL  2005                          11.603278
16725  New Caledonia  NCL  2006                          11.018421
16726  New Caledonia  NCL  2007                          11.736352
16727  New Caledonia  NCL  2008                          11.253053
16728  New Caledonia  NCL  2009                          11.813034
16729  New Caledonia  NCL  2010                          13.990571
16730  New Caledonia  NCL  2011                          13.872556
16731  New Caledonia  NCL  2012                          13.657785
16732  New Caledonia  NCL  2013                          14.363501
16733  New Caledonia  NCL  2014                          17.838243
16734  New Caledonia  NCL  2015                          17.230398
eatting
                          Entity Code  Year  Annual CO₂ emissions (per capita)
21344  Sint Maarten (Dutch part)  SXM  2000                          18.107855
21345  Sint Maarten (Dutch part)  SXM  2001                          18.492966
21346  Sint Maarten (Dutch part)  SXM  2002                          17.726723
21347  Sint Maarten (Dutch part)  SXM  2003                          17.567434
21348  Sint Maarten (Dutch part)  SXM  2004                          18.247524
21349  Sint Maarten (Dutch part)  SXM  2005                          17.907770
21350  Sint Maarten (Dutch part)  SXM  2006                          18.478765
21351  Sint Maarten (Dutch part)  SXM  2007                          20.593836
21352  Sint Maarten (Dutch part)  SXM  2008                          19.613684
21353  Sint Maarten (Dutch part)  SXM  2009                          19.881340
21354  Sint Maarten (Dutch part)  SXM  2010                          13.581468
21355  Sint Maarten (Dutch part)  SXM  2011                          17.180676
21356  Sint Maarten (Dutch part)  SXM  2012                          19.796394
21357  Sint Maarten (Dutch part)  SXM  2013                          18.940672
21358  Sint Maarten (Dutch part)  SXM  2014                          18.542889
21359  Sint Maarten (Dutch part)  SXM  2015                          18.489410
eatting
                         Entity Code  Year  Annual CO₂ emissions (per capita)
24274  Turks and Caicos Islands  TCA  2000                           5.856465
24275  Turks and Caicos Islands  TCA  2001                           5.795102
24276  Turks and Caicos Islands  TCA  2002                           7.285354
24277  Turks and Caicos Islands  TCA  2003                           7.239110
24278  Turks and Caicos Islands  TCA  2004                           7.040615
24279  Turks and Caicos Islands  TCA  2005                           7.932387
24280  Turks and Caicos Islands  TCA  2006                           8.594784
24281  Turks and Caicos Islands  TCA  2007                           9.615700
24282  Turks and Caicos Islands  TCA  2008                           9.610492
24283  Turks and Caicos Islands  TCA  2009                           9.608056
24284  Turks and Caicos Islands  TCA  2010                           9.482975
24285  Turks and Caicos Islands  TCA  2011                           9.148119
24286  Turks and Caicos Islands  TCA  2012                           8.787665
24287  Turks and Caicos Islands  TCA  2013                           8.500654
24288  Turks and Caicos Islands  TCA  2014                           8.790084
24289  Turks and Caicos Islands  TCA  2015                           8.519531
eatting

In [41]:
fg = Train[Train['Country Name'] == 'Sint Maarten (Dutch part)']
fg

,Country Name,Indicator,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015]
2064,Sint Maarten (Dutch part),Access to electricity (% of population),99.9613266,99.9201355,99.8680954,99.80990601,99.75718689,99.71694183,99.69594574,99.69579315,99.71286774,99.74332428,100,100,100,100,100,100
2065,Sint Maarten (Dutch part),Agricultural land (% of land area),0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102
2066,Sint Maarten (Dutch part),"Annual freshwater withdrawals, total (% of int...",0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102
2067,Sint Maarten (Dutch part),Arable land (% of land area),0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102
2068,Sint Maarten (Dutch part),Forest area (% of land area),0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,10.88235294,10.88235294,10.88235294,10.88235294,10.88235294
2069,Sint Maarten (Dutch part),Electric power consumption (kWh per capita),0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102
2070,Sint Maarten (Dutch part),Energy use (kg of oil equivalent per capita),0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102
2071,Sint Maarten (Dutch part),Renewable electricity output (% of total elect...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2072,Sint Maarten (Dutch part),Renewable energy consumption (% of total final...,0,0,0,0,0,0,0,0,0,0,0,0,0.05,0.05,0.05,0.05
2073,Sint Maarten (Dutch part),Population growth (annual %),-1.834377687,0.265056848,0.576764882,2.233060387,3.177252874,1.597004887,1.294185282,1.100350126,0.451494681,0.803499822,-0.532990983,-1.840297302,3.540582819,5.523039526,2.902265834,2.980223174
2074,Sint Maarten (Dutch part),GDP per capita (current US$),0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,0.102,27997.28983,28460.33262,27942.88054,36136.6995,36519.99259
2075,Sint Maarten (Dutch part),CO2 emissions (metric tons per capita),18.107855,18.492966,17.726723,17.567434,18.247524,17.90777,18.478765,20.593836,19.613684,19.88134,13.581468,17.180676,19.796394,18.940672,18.542889,18.48941

In [33]:
Train.to_csv('newtrain.csv', index=False)

In [36]:
#replace ".."with .100
Train=Train.replace('..', .102)  
Test=Test.replace('..', 0.102)

In [42]:
#trainig and inferencing with LogisticRegression and ARIMA
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from statsmodels.tsa.arima.model import ARIMA
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsRegressor
import numpy as np
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
j=[]
for i in training_list:
    transposed_df=0
    fg = Train[Train['Country Name'] == i[0]].reset_index(drop=True)
    columns_to_drop = ['Country Name','Indicator']
    fg = fg.drop(columns_to_drop, axis=1)
    transposed_df = fg.transpose()
    #print(fg)
    #print('done for now')
    Xtrain = transposed_df[[0,1, 2,3,4,9,10]]
    Xtrain
    Ytrain=transposed_df[11]
    Ytrain
    logistic_regression = LogisticRegression()
    try:
        logistic_regression.fit(Xtrain,Ytrain)
        fgt = Test[Test['Country Name'] == i[0]].reset_index(drop=True)
        columns_to_drop = [ 'Country Name','Indicator']
        fgt = fgt.drop(columns_to_drop, axis=1)
        transposed_df = fgt.transpose()
        #print(transposed_df)
  
        Xtest = transposed_df[[0,1, 2,3,4,9,10]]
        forecast = logistic_regression.predict(Xtest.astype(float))
        
        model2 = ARIMA(Ytrain.astype(float), order=(0,1,0))  # Adjust order as needed
        model_fit2 = model2.fit()

    
        forecast2 = model_fit2.forecast(steps=16)
        
        row_index = sample_submission2[sample_submission2.eq(i[0]).any(axis=1)].index[0]


        new_values = [i[0], forecast[0], forecast[1],forecast[2], forecast[3], forecast[4],forecast2[30]]
        sample_submission2.loc[row_index] = new_values
    except:
        j.append(i[0])
print(j)

['Aruba', 'Bermuda', 'British Virgin Islands', 'Curacao', 'Faroe Islands', 'French Polynesia', 'Greenland', 'New Caledonia', 'Sint Maarten (Dutch part)', 'Turks and Caicos Islands']

In [55]:
#trainig and inferencing with LogisticRegression and ARIMA
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from statsmodels.tsa.arima.model import ARIMA
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsRegressor
import numpy as np
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
j=[]
for i in training_list:
    transposed_df=0
    fg = Train[Train['Country Name'] == i[0]].reset_index(drop=True)
    columns_to_drop = ['Country Name','Indicator']
    fg = fg.drop(columns_to_drop, axis=1)
    transposed_df = fg.transpose()
    #print(fg)
    #print('done for now')
    Xtrain = transposed_df[[0,1, 2,3,4,9,10]]
    Xtrain
    Ytrain=transposed_df[11]
    Ytrain
    logistic_regression = KNeighborsRegressor()
    #print(Ytrain)
    logistic_regression.fit(Xtrain.astype(float),Ytrain.astype(float))
    fgt = Test[Test['Country Name'] == i[0]].reset_index(drop=True)
    columns_to_drop = [ 'Country Name','Indicator']
    fgt = fgt.drop(columns_to_drop, axis=1)
    transposed_df = fgt.transpose()
        #print(transposed_df)
  
    Xtest = transposed_df[[0,1, 2,3,4,9,10]]
    forecast = logistic_regression.predict(Xtest.astype(float))
        
    model2 = ARIMA(Ytrain.astype(float), order=(0,1,0))  # Adjust order as needed
    model_fit2 = model2.fit()

    
    forecast2 = model_fit2.forecast(steps=16)
        
    row_index = sample_submission2[sample_submission2.eq(i[0]).any(axis=1)].index[0]


    new_values = [i[0], forecast2[16], forecast2[17],forecast2[18], forecast2[19], forecast2[20],forecast2[30]]
    sample_submission2.loc[row_index] = new_values
  
    j.append(i[0])
print(j)

['Aruba', 'Bermuda', 'British Virgin Islands', 'Curacao', 'Faroe Islands', 'French Polynesia', 'Greenland', 'New Caledonia', 'Sint Maarten (Dutch part)', 'Turks and Caicos Islands']

In [56]:
fg = sample_submission2[sample_submission2['Country Name'] == 'Aruba']
fg

,Country Name,2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2030 [YR2030]
9,Aruba,8.60927,8.60927,8.60927,8.60927,8.60927,8.60927

In [57]:
sample_submission2.to_csv('submission.csv', index=False)