In [1]:
import pandas as pd


# Replace 'filename.csv' with the path to your CSV file
df = pd.read_csv('/kaggle/input/mlolympiadbd2024/train.csv')

In [2]:

count_of_yes = (df['RainToday'] == 'Yes').sum()

print("Count of 'yes' in column 'RainToday':", count_of_yes)

Count of 'yes' in column 'RainToday': 676

In [3]:

count_of_yes = (df['RainToday'] == 'No').sum()

print("Count of 'yes' in column 'RainToday':", count_of_yes)

Count of 'yes' in column 'RainToday': 1940

In [4]:
columns_to_drop = ['WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm','Date']  # List of column names to drop
df.drop(columns=columns_to_drop, inplace=True)

In [5]:
df

,Temp9am,Temp3pm,MinTemp,MaxTemp,Rainfall,RainToday,Evaporation,Sunshine,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,ID
0,20.7,20.9,19.5,22.4,15.6,Yes,6.2,0.0,17,20,92,84,1017.6,1017.4,8,8,1
1,22.4,24.8,19.5,25.6,6.0,Yes,3.4,2.7,9,13,83,73,1017.9,1016.4,7,7,2
2,23.5,23.0,21.6,24.5,6.6,Yes,2.4,0.1,17,2,88,86,1016.7,1015.6,7,8,3
3,21.4,20.9,20.2,22.8,18.8,Yes,2.2,0.0,22,20,83,90,1014.2,1011.8,8,8,4
4,22.5,25.5,19.7,25.7,77.4,Yes,4.8,0.0,11,6,88,74,1008.3,1004.8,8,8,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2611,15.1,20.1,11.6,20.5,0.0,No,3.0,4.3,9,17,87,44,1019.7,1015.1,7,6,2612
2612,14.6,18.5,10.6,20.8,0.0,No,2.8,9.2,22,20,48,43,1019.8,1018.9,3,5,2613
2613,13.0,20.1,9.0,20.3,0.0,No,4.2,10.8,13,15,60,31,1022.7,1017.9,1,2,2614
2614,12.1,18.1,8.3,18.7,0.0,No,3.6,10.8,20,22,52,44,1020.3,1017.5,1,3,2615
2615,13.9,18.4,9.6,19.7,0.0,No,4.8,10.9,15,22,48,39,1017.3,1013.8,1,2,2616

In [6]:
df.replace(to_replace={'RainToday': {'No': '0', 'Yes': '1'}}, inplace=True)

In [7]:
df.head()

,Temp9am,Temp3pm,MinTemp,MaxTemp,Rainfall,RainToday,Evaporation,Sunshine,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,ID
0,20.7,20.9,19.5,22.4,15.6,1,6.2,0.0,17,20,92,84,1017.6,1017.4,8,8,1
1,22.4,24.8,19.5,25.6,6.0,1,3.4,2.7,9,13,83,73,1017.9,1016.4,7,7,2
2,23.5,23.0,21.6,24.5,6.6,1,2.4,0.1,17,2,88,86,1016.7,1015.6,7,8,3
3,21.4,20.9,20.2,22.8,18.8,1,2.2,0.0,22,20,83,90,1014.2,1011.8,8,8,4
4,22.5,25.5,19.7,25.7,77.4,1,4.8,0.0,11,6,88,74,1008.3,1004.8,8,8,5

In [8]:
columns_to_drop = ['ID']  # List of column names to drop
df.drop(columns=columns_to_drop, inplace=True)

In [9]:
df.head()

,Temp9am,Temp3pm,MinTemp,MaxTemp,Rainfall,RainToday,Evaporation,Sunshine,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm
0,20.7,20.9,19.5,22.4,15.6,1,6.2,0.0,17,20,92,84,1017.6,1017.4,8,8
1,22.4,24.8,19.5,25.6,6.0,1,3.4,2.7,9,13,83,73,1017.9,1016.4,7,7
2,23.5,23.0,21.6,24.5,6.6,1,2.4,0.1,17,2,88,86,1016.7,1015.6,7,8
3,21.4,20.9,20.2,22.8,18.8,1,2.2,0.0,22,20,83,90,1014.2,1011.8,8,8
4,22.5,25.5,19.7,25.7,77.4,1,4.8,0.0,11,6,88,74,1008.3,1004.8,8,8

In [10]:
from imblearn.over_sampling import SMOTE
import pandas as pd

# Assuming you have a DataFrame named df with features X and target variable y
X = df.drop(columns=['RainToday'])
y = df['RainToday']

# Apply SMOTE to balance the dataset
smote = SMOTE(random_state=42)
X_balanced, y_balanced = smote.fit_resample(X, y)

In [11]:
X_balanced.head()

,Temp9am,Temp3pm,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm
0,20.7,20.9,19.5,22.4,15.6,6.2,0.0,17,20,92,84,1017.6,1017.4,8,8
1,22.4,24.8,19.5,25.6,6.0,3.4,2.7,9,13,83,73,1017.9,1016.4,7,7
2,23.5,23.0,21.6,24.5,6.6,2.4,0.1,17,2,88,86,1016.7,1015.6,7,8
3,21.4,20.9,20.2,22.8,18.8,2.2,0.0,22,20,83,90,1014.2,1011.8,8,8
4,22.5,25.5,19.7,25.7,77.4,4.8,0.0,11,6,88,74,1008.3,1004.8,8,8

In [12]:
# Replace 'filename.csv' with the path to your CSV file
dftest2 = pd.read_csv('/kaggle/input/mlolympiadbd2024/test.csv')

In [13]:
columns_to_drop = ['WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm','Date','ID']  # List of column names to drop
dftest2.drop(columns=columns_to_drop, inplace=True)

In [14]:
dftest2.head(10)

,Temp9am,Temp3pm,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm
0,12.7,17.0,9.0,19.7,0.0,3.2,10.8,17,13,50,39,1015.8,1013.3,1,1
1,11.9,18.6,8.0,18.8,0.0,4.0,10.4,11,19,61,46,1018.0,1012.0,5,1
2,14.4,20.6,11.2,20.8,2.8,5.6,8.0,20,24,69,28,1006.0,1005.6,3,6
3,13.7,18.3,12.5,19.5,20.4,4.0,5.7,19,20,92,54,1021.5,1020.5,7,2
4,15.2,18.7,11.5,21.7,0.0,2.8,9.3,17,24,68,53,1022.3,1019.6,1,5
5,14.6,16.0,12.7,17.5,0.4,5.4,1.0,11,6,84,68,1024.9,1021.9,7,7
6,17.4,22.7,11.1,24.9,0.2,0.6,9.3,9,15,62,32,1018.3,1013.3,2,4
7,13.3,19.7,10.0,20.0,0.0,6.8,11.0,30,24,42,32,1018.8,1015.7,1,2
8,15.4,18.9,9.8,20.2,0.0,5.0,10.9,20,17,48,39,1023.1,1022.0,1,1
9,15.5,18.9,11.3,19.6,0.0,4.8,6.5,13,15,59,41,1030.9,1029.8,1,7

In [15]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense

# Load your prepared training and testing data
# X_train, y_train, X_test are assumed to be already prepared

# Reshape input data for LSTM (assuming X_train and X_test are 2D arrays)
# X_train = X_train.reshape(X_train.shape[0], X_train.shape[1], 1)
# X_test = X_test.reshape(X_test.shape[0], X_test.shape[1], 1)

# Build the LSTM model
model = Sequential()
model.add(LSTM(units=50, return_sequences=True, input_shape=(X_balanced.shape[1], 1)))
model.add(LSTM(units=50))
model.add(Dense(units=1))
model.compile(optimizer='adam', loss='mean_squared_error')

# Train the model
model.fit(X_balanced.astype(float), y_balanced.astype(float), epochs=25, batch_size=31)

# Make predictions on the test data
predictions = model.predict(dftest2)

# You may want to inverse transform the predictions if you scaled your data
# scaler.inverse_transform(predictions)

2024-03-10 04:04:22.271905: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-03-10 04:04:22.272176: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-03-10 04:04:22.456721: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered

Epoch 1/25
126/126 [==============================] - 6s 14ms/step - loss: 0.2276
Epoch 2/25
126/126 [==============================] - 2s 13ms/step - loss: 0.1867
Epoch 3/25
126/126 [==============================] - 2s 14ms/step - loss: 0.1766
Epoch 4/25
126/126 [==============================] - 2s 14ms/step - loss: 0.1693
Epoch 5/25
126/126 [==============================] - 2s 14ms/step - loss: 0.1624
Epoch 6/25
126/126 [==============================] - 2s 14ms/step - loss: 0.1585
Epoch 7/25
126/126 [==============================] - 2s 15ms/step - loss: 0.1573
Epoch 8/25
126/126 [==============================] - 2s 14ms/step - loss: 0.1535
Epoch 9/25
126/126 [==============================] - 2s 15ms/step - loss: 0.1532
Epoch 10/25
126/126 [==============================] - 2s 14ms/step - loss: 0.1522
Epoch 11/25
126/126 [==============================] - 2s 14ms/step - loss: 0.1486
Epoch 12/25
126/126 [==============================] - 2s 14ms/step - loss: 0.1490
Epoch 13/25
126/126 [==============================] - 2s 16ms/step - loss: 0.1470
Epoch 14/25
126/126 [==============================] - 2s 15ms/step - loss: 0.1460
Epoch 15/25
126/126 [==============================] - 2s 14ms/step - loss: 0.1456
Epoch 16/25
126/126 [==============================] - 2s 14ms/step - loss: 0.1420
Epoch 17/25
126/126 [==============================] - 2s 16ms/step - loss: 0.1433
Epoch 18/25
126/126 [==============================] - 2s 14ms/step - loss: 0.1423
Epoch 19/25
126/126 [==============================] - 2s 13ms/step - loss: 0.1400
Epoch 20/25
126/126 [==============================] - 2s 15ms/step - loss: 0.1399
Epoch 21/25
126/126 [==============================] - 2s 13ms/step - loss: 0.1386
Epoch 22/25
126/126 [==============================] - 2s 15ms/step - loss: 0.1368
Epoch 23/25
126/126 [==============================] - 2s 16ms/step - loss: 0.1374
Epoch 24/25
126/126 [==============================] - 2s 13ms/step - loss: 0.1393
Epoch 25/25
126/126 [==============================] - 2s 13ms/step - loss: 0.1345
21/21 [==============================] - 1s 6ms/step

In [16]:
binary_predictions = np.where(predictions.ravel() > 0.5, 1, 0)

In [17]:
binary_predictions

array([0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0])

In [18]:
results = pd.DataFrame({
    'ID': range(1, len(dftest2) + 1),
    'Predicted': binary_predictions
})

In [19]:
results.replace(to_replace={'Predicted': {0: 'No', 1: 'Yes'}}, inplace=True)

In [20]:
results.to_csv('submission.csv', index=False)