In [2]:
import pandas as pd
from statsmodels.tsa.arima.model import ARIMA
Train=pd.read_csv('/kaggle/input/ml-olympiad-co2-emissions-prediction-challenge/train.csv')
Test= pd.read_csv('/kaggle/input/ml-olympiad-co2-emissions-prediction-challenge/test.csv')
sample_submission= pd.read_csv('/kaggle/input/ml-olympiad-co2-emissions-prediction-challenge/sample_submission.csv')

In [3]:
takin=Train.head(12)

NameError: name 'melted_df' is not defined

In [ ]:
takin

In [ ]:
takin = takin.replace('..', 0)

In [5]:
specific_string = 'CO2 emissions (metric tons per capita)'
filtered_rows = takin[takin['Indicator'] == specific_string]
filtered_rows

,Country Code,Country Name,Indicator,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015]
11,Afg,Afghanistan,CO2 emissions (metric tons per capita),0.055166607,0.055292719,0.066810138,0.073004968,0.054866759,0.080361134,0.089756909,0.109940042,0.165573355,0.239506901,0.304230216,0.408965291,0.335061035,0.298087813,0.283692396,0.297971775

In [6]:
import pandas as pd

# Assuming 'takin' is your DataFrame
specific_string = 'CO2 emissions (metric tons per capita)'
filtered_rows_index = takin[takin['Indicator'] == specific_string].index
takinnot = takin.drop(filtered_rows_index)
takinnot

   Country Code Country Name  \
0           Afg  Afghanistan
1           Afg  Afghanistan
2           Afg  Afghanistan
3           Afg  Afghanistan
4           Afg  Afghanistan
5           Afg  Afghanistan
6           Afg  Afghanistan
7           Afg  Afghanistan
8           Afg  Afghanistan
9           Afg  Afghanistan
10          Afg  Afghanistan

                                            Indicator 2000 [YR2000]  \
0             Access to electricity (% of population)   4.446890831
1                  Agricultural land (% of land area)   57.94581666
2   Annual freshwater withdrawals, total (% of int...   43.01590668
3                        Arable land (% of land area)   11.77958696
4                        Forest area (% of land area)   1.852781994
5         Electric power consumption (kWh per capita)            ..
6        Energy use (kg of oil equivalent per capita)            ..
7   Renewable electricity output (% of total elect...   74.98909408
8   Renewable energy consumption (% of total final...         44.99
9                        Population growth (annual %)   1.443803024
10                       GDP per capita (current US$)            ..

   2001 [YR2001] 2002 [YR2002] 2003 [YR2003] 2004 [YR2004] 2005 [YR2005]  \
0    9.294527054   14.13361645    18.9711647   23.81418228   28.66967201
1    57.94734986   57.93968385   58.08380479   58.15126566   58.13440044
2    43.01590668   43.01590668   43.01590668   43.01590668   43.01590668
3    11.77958696   11.77192095   11.91604189   11.98350275   11.96663754
4    1.852781994   1.852781994   1.852781994   1.852781994   1.852781994
5             ..            ..            ..            ..            ..
6             ..            ..            ..            ..            ..
7    72.81145999    79.0639712   70.24972856   70.89084065   74.06181015
8           45.6         37.83         36.66         44.24         33.88
9    0.742516834   6.449321478   7.541018965   3.933177688   3.576508004
10            ..   182.1740366   199.6432279   221.8305307   254.1152743

   2006 [YR2006] 2007 [YR2007] 2008 [YR2008] 2009 [YR2009] 2010 [YR2010]  \
0    33.54441833   38.44000244          42.4   48.27900696          42.7
1    58.12366803   58.12980084   58.13286724   58.13286724   58.13440044
2    43.01590668   43.01590668   43.01590668   43.01590668   43.01590668
3    11.94977232   11.94977232   11.94977232   11.94823912   11.94823912
4    1.852781994   1.852781994   1.852781994   1.852781994   1.852781994
5             ..            ..            ..            ..            ..
6             ..            ..            ..            ..            ..
7    70.75575027            72   68.65482234   87.17660292   85.98654709
8          31.89         28.78         21.17         16.53         15.15
9    4.139678035   1.793195727   2.002333262   3.561288374   2.894904104
10   274.0153943   376.3182964   382.5338038   453.3873821   562.4992194

   2011 [YR2011] 2012 [YR2012] 2013 [YR2013] 2014 [YR2014] 2015 [YR2015]
0    43.22201891          69.1    68.0408783          89.5          71.5
1    58.13133404   58.12980084   58.12366803   58.12366803   58.12366803
2    43.01590668   43.01590668   43.01590668   43.01590668   43.01590668
3    11.94517272   11.94363951   11.93597351   11.91450869   11.90530948
4    1.852781994   1.852781994   1.852781994   1.852781994   1.852781994
5             ..            ..            ..            ..            ..
6             ..            ..            ..            ..            ..
7    82.48756219   85.90998043    78.6364081   85.32354903   86.05011125
8          12.61         15.36         16.86         18.93         17.53
9    3.689508302   4.077627729   3.466788304   3.657576065   3.121341229
10   608.7388559   653.4174791   638.7331848   626.5129305   566.8811327

In [7]:
takinnot

,Country Code,Country Name,Indicator,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015]
0,Afg,Afghanistan,Access to electricity (% of population),4.446890831,9.294527054,14.13361645,18.9711647,23.81418228,28.66967201,33.54441833,38.44000244,42.4,48.27900696,42.7,43.22201891,69.1,68.0408783,89.5,71.5
1,Afg,Afghanistan,Agricultural land (% of land area),57.94581666,57.94734986,57.93968385,58.08380479,58.15126566,58.13440044,58.12366803,58.12980084,58.13286724,58.13286724,58.13440044,58.13133404,58.12980084,58.12366803,58.12366803,58.12366803
2,Afg,Afghanistan,"Annual freshwater withdrawals, total (% of int...",43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668
3,Afg,Afghanistan,Arable land (% of land area),11.77958696,11.77958696,11.77192095,11.91604189,11.98350275,11.96663754,11.94977232,11.94977232,11.94977232,11.94823912,11.94823912,11.94517272,11.94363951,11.93597351,11.91450869,11.90530948
4,Afg,Afghanistan,Forest area (% of land area),1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994
5,Afg,Afghanistan,Electric power consumption (kWh per capita),..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
6,Afg,Afghanistan,Energy use (kg of oil equivalent per capita),..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
7,Afg,Afghanistan,Renewable electricity output (% of total elect...,74.98909408,72.81145999,79.0639712,70.24972856,70.89084065,74.06181015,70.75575027,72,68.65482234,87.17660292,85.98654709,82.48756219,85.90998043,78.6364081,85.32354903,86.05011125
8,Afg,Afghanistan,Renewable energy consumption (% of total final...,44.99,45.6,37.83,36.66,44.24,33.88,31.89,28.78,21.17,16.53,15.15,12.61,15.36,16.86,18.93,17.53
9,Afg,Afghanistan,Population growth (annual %),1.443803024,0.742516834,6.449321478,7.541018965,3.933177688,3.576508004,4.139678035,1.793195727,2.002333262,3.561288374,2.894904104,3.689508302,4.077627729,3.466788304,3.657576065,3.121341229
10,Afg,Afghanistan,GDP per capita (current US$),..,..,182.1740366,199.6432279,221.8305307,254.1152743,274.0153943,376.3182964,382.5338038,453.3873821,562.4992194,608.7388559,653.4174791,638.7331848,626.5129305,566.8811327

In [8]:
new_value = 0.00
takinnot = takinnot.replace('..', new_value)

In [9]:
takinnot

,Country Code,Country Name,Indicator,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015]
0,Afg,Afghanistan,Access to electricity (% of population),4.446890831,9.294527054,14.13361645,18.9711647,23.81418228,28.66967201,33.54441833,38.44000244,42.4,48.27900696,42.7,43.22201891,69.1,68.0408783,89.5,71.5
1,Afg,Afghanistan,Agricultural land (% of land area),57.94581666,57.94734986,57.93968385,58.08380479,58.15126566,58.13440044,58.12366803,58.12980084,58.13286724,58.13286724,58.13440044,58.13133404,58.12980084,58.12366803,58.12366803,58.12366803
2,Afg,Afghanistan,"Annual freshwater withdrawals, total (% of int...",43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668
3,Afg,Afghanistan,Arable land (% of land area),11.77958696,11.77958696,11.77192095,11.91604189,11.98350275,11.96663754,11.94977232,11.94977232,11.94977232,11.94823912,11.94823912,11.94517272,11.94363951,11.93597351,11.91450869,11.90530948
4,Afg,Afghanistan,Forest area (% of land area),1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994
5,Afg,Afghanistan,Electric power consumption (kWh per capita),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Afg,Afghanistan,Energy use (kg of oil equivalent per capita),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Afg,Afghanistan,Renewable electricity output (% of total elect...,74.98909408,72.81145999,79.0639712,70.24972856,70.89084065,74.06181015,70.75575027,72,68.65482234,87.17660292,85.98654709,82.48756219,85.90998043,78.6364081,85.32354903,86.05011125
8,Afg,Afghanistan,Renewable energy consumption (% of total final...,44.99,45.6,37.83,36.66,44.24,33.88,31.89,28.78,21.17,16.53,15.15,12.61,15.36,16.86,18.93,17.53
9,Afg,Afghanistan,Population growth (annual %),1.443803024,0.742516834,6.449321478,7.541018965,3.933177688,3.576508004,4.139678035,1.793195727,2.002333262,3.561288374,2.894904104,3.689508302,4.077627729,3.466788304,3.657576065,3.121341229
10,Afg,Afghanistan,GDP per capita (current US$),0.0,0.0,182.1740366,199.6432279,221.8305307,254.1152743,274.0153943,376.3182964,382.5338038,453.3873821,562.4992194,608.7388559,653.4174791,638.7331848,626.5129305,566.8811327

In [11]:
columns_to_drop = ['Country Code', 'Country Name','Indicator']
traink = takinnot.drop(columns_to_drop, axis=1)

In [12]:
traink

,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015]
0,4.446890831,9.294527054,14.13361645,18.9711647,23.81418228,28.66967201,33.54441833,38.44000244,42.4,48.27900696,42.7,43.22201891,69.1,68.0408783,89.5,71.5
1,57.94581666,57.94734986,57.93968385,58.08380479,58.15126566,58.13440044,58.12366803,58.12980084,58.13286724,58.13286724,58.13440044,58.13133404,58.12980084,58.12366803,58.12366803,58.12366803
2,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668
3,11.77958696,11.77958696,11.77192095,11.91604189,11.98350275,11.96663754,11.94977232,11.94977232,11.94977232,11.94823912,11.94823912,11.94517272,11.94363951,11.93597351,11.91450869,11.90530948
4,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,74.98909408,72.81145999,79.0639712,70.24972856,70.89084065,74.06181015,70.75575027,72,68.65482234,87.17660292,85.98654709,82.48756219,85.90998043,78.6364081,85.32354903,86.05011125
8,44.99,45.6,37.83,36.66,44.24,33.88,31.89,28.78,21.17,16.53,15.15,12.61,15.36,16.86,18.93,17.53
9,1.443803024,0.742516834,6.449321478,7.541018965,3.933177688,3.576508004,4.139678035,1.793195727,2.002333262,3.561288374,2.894904104,3.689508302,4.077627729,3.466788304,3.657576065,3.121341229
10,0.0,0.0,182.1740366,199.6432279,221.8305307,254.1152743,274.0153943,376.3182964,382.5338038,453.3873821,562.4992194,608.7388559,653.4174791,638.7331848,626.5129305,566.8811327

In [15]:

columns_to_drop = ['Country Code', 'Country Name','Indicator']
takin = takin.drop(columns_to_drop, axis=1)

In [16]:
transposed_df = takin.transpose()
transposed_df

,0,1,2,3,4,5,6,7,8,9,10,11
2000 [YR2000],4.446890831,57.94581666,43.01590668,11.77958696,1.852781994,..,..,74.98909408,44.99,1.443803024,..,0.055166607
2001 [YR2001],9.294527054,57.94734986,43.01590668,11.77958696,1.852781994,..,..,72.81145999,45.6,0.742516834,..,0.055292719
2002 [YR2002],14.13361645,57.93968385,43.01590668,11.77192095,1.852781994,..,..,79.0639712,37.83,6.449321478,182.1740366,0.066810138
2003 [YR2003],18.9711647,58.08380479,43.01590668,11.91604189,1.852781994,..,..,70.24972856,36.66,7.541018965,199.6432279,0.073004968
2004 [YR2004],23.81418228,58.15126566,43.01590668,11.98350275,1.852781994,..,..,70.89084065,44.24,3.933177688,221.8305307,0.054866759
2005 [YR2005],28.66967201,58.13440044,43.01590668,11.96663754,1.852781994,..,..,74.06181015,33.88,3.576508004,254.1152743,0.080361134
2006 [YR2006],33.54441833,58.12366803,43.01590668,11.94977232,1.852781994,..,..,70.75575027,31.89,4.139678035,274.0153943,0.089756909
2007 [YR2007],38.44000244,58.12980084,43.01590668,11.94977232,1.852781994,..,..,72,28.78,1.793195727,376.3182964,0.109940042
2008 [YR2008],42.4,58.13286724,43.01590668,11.94977232,1.852781994,..,..,68.65482234,21.17,2.002333262,382.5338038,0.165573355
2009 [YR2009],48.27900696,58.13286724,43.01590668,11.94823912,1.852781994,..,..,87.17660292,16.53,3.561288374,453.3873821,0.239506901
2010 [YR2010],42.7,58.13440044,43.01590668,11.94823912,1.852781994,..,..,85.98654709,15.15,2.894904104,562.4992194,0.304230216
2011 [YR2011],43.22201891,58.13133404,43.01590668,11.94517272,1.852781994,..,..,82.48756219,12.61,3.689508302,608.7388559,0.408965291
2012 [YR2012],69.1,58.12980084,43.01590668,11.94363951,1.852781994,..,..,85.90998043,15.36,4.077627729,653.4174791,0.335061035
2013 [YR2013],68.0408783,58.12366803,43.01590668,11.93597351,1.852781994,..,..,78.6364081,16.86,3.466788304,638.7331848,0.298087813
2014 [YR2014],89.5,58.12366803,43.01590668,11.91450869,1.852781994,..,..,85.32354903,18.93,3.657576065,626.5129305,0.283692396
2015 [YR2015],71.5,58.12366803,43.01590668,11.90530948,1.852781994,..,..,86.05011125,17.53,3.121341229,566.8811327,0.297971775

In [17]:
new_value = 0.00
transposed_df = transposed_df.replace('..', new_value)
transposed_df

/tmp/ipykernel_33/1283217724.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  transposed_df = transposed_df.replace('..', new_value)

,0,1,2,3,4,5,6,7,8,9,10,11
2000 [YR2000],4.446890831,57.94581666,43.01590668,11.77958696,1.852781994,0.0,0.0,74.98909408,44.99,1.443803024,0.0,0.055166607
2001 [YR2001],9.294527054,57.94734986,43.01590668,11.77958696,1.852781994,0.0,0.0,72.81145999,45.6,0.742516834,0.0,0.055292719
2002 [YR2002],14.13361645,57.93968385,43.01590668,11.77192095,1.852781994,0.0,0.0,79.0639712,37.83,6.449321478,182.1740366,0.066810138
2003 [YR2003],18.9711647,58.08380479,43.01590668,11.91604189,1.852781994,0.0,0.0,70.24972856,36.66,7.541018965,199.6432279,0.073004968
2004 [YR2004],23.81418228,58.15126566,43.01590668,11.98350275,1.852781994,0.0,0.0,70.89084065,44.24,3.933177688,221.8305307,0.054866759
2005 [YR2005],28.66967201,58.13440044,43.01590668,11.96663754,1.852781994,0.0,0.0,74.06181015,33.88,3.576508004,254.1152743,0.080361134
2006 [YR2006],33.54441833,58.12366803,43.01590668,11.94977232,1.852781994,0.0,0.0,70.75575027,31.89,4.139678035,274.0153943,0.089756909
2007 [YR2007],38.44000244,58.12980084,43.01590668,11.94977232,1.852781994,0.0,0.0,72,28.78,1.793195727,376.3182964,0.109940042
2008 [YR2008],42.4,58.13286724,43.01590668,11.94977232,1.852781994,0.0,0.0,68.65482234,21.17,2.002333262,382.5338038,0.165573355
2009 [YR2009],48.27900696,58.13286724,43.01590668,11.94823912,1.852781994,0.0,0.0,87.17660292,16.53,3.561288374,453.3873821,0.239506901
2010 [YR2010],42.7,58.13440044,43.01590668,11.94823912,1.852781994,0.0,0.0,85.98654709,15.15,2.894904104,562.4992194,0.304230216
2011 [YR2011],43.22201891,58.13133404,43.01590668,11.94517272,1.852781994,0.0,0.0,82.48756219,12.61,3.689508302,608.7388559,0.408965291
2012 [YR2012],69.1,58.12980084,43.01590668,11.94363951,1.852781994,0.0,0.0,85.90998043,15.36,4.077627729,653.4174791,0.335061035
2013 [YR2013],68.0408783,58.12366803,43.01590668,11.93597351,1.852781994,0.0,0.0,78.6364081,16.86,3.466788304,638.7331848,0.298087813
2014 [YR2014],89.5,58.12366803,43.01590668,11.91450869,1.852781994,0.0,0.0,85.32354903,18.93,3.657576065,626.5129305,0.283692396
2015 [YR2015],71.5,58.12366803,43.01590668,11.90530948,1.852781994,0.0,0.0,86.05011125,17.53,3.121341229,566.8811327,0.297971775

In [22]:
transposed_df[1]

2000 [YR2000]    57.94581666
2001 [YR2001]    57.94734986
2002 [YR2002]    57.93968385
2003 [YR2003]    58.08380479
2004 [YR2004]    58.15126566
2005 [YR2005]    58.13440044
2006 [YR2006]    58.12366803
2007 [YR2007]    58.12980084
2008 [YR2008]    58.13286724
2009 [YR2009]    58.13286724
2010 [YR2010]    58.13440044
2011 [YR2011]    58.13133404
2012 [YR2012]    58.12980084
2013 [YR2013]    58.12366803
2014 [YR2014]    58.12366803
2015 [YR2015]    58.12366803
Name: 1, dtype: object

In [47]:


# Select only the desired columns
Xtrain = transposed_df[[0,1, 2,3,4,7,8,9,10]]
Xtrain

,0,1,2,3,4,7,8,9,10
2000 [YR2000],4.446890831,57.94581666,43.01590668,11.77958696,1.852781994,74.98909408,44.99,1.443803024,0.0
2001 [YR2001],9.294527054,57.94734986,43.01590668,11.77958696,1.852781994,72.81145999,45.6,0.742516834,0.0
2002 [YR2002],14.13361645,57.93968385,43.01590668,11.77192095,1.852781994,79.0639712,37.83,6.449321478,182.1740366
2003 [YR2003],18.9711647,58.08380479,43.01590668,11.91604189,1.852781994,70.24972856,36.66,7.541018965,199.6432279
2004 [YR2004],23.81418228,58.15126566,43.01590668,11.98350275,1.852781994,70.89084065,44.24,3.933177688,221.8305307
2005 [YR2005],28.66967201,58.13440044,43.01590668,11.96663754,1.852781994,74.06181015,33.88,3.576508004,254.1152743
2006 [YR2006],33.54441833,58.12366803,43.01590668,11.94977232,1.852781994,70.75575027,31.89,4.139678035,274.0153943
2007 [YR2007],38.44000244,58.12980084,43.01590668,11.94977232,1.852781994,72,28.78,1.793195727,376.3182964
2008 [YR2008],42.4,58.13286724,43.01590668,11.94977232,1.852781994,68.65482234,21.17,2.002333262,382.5338038
2009 [YR2009],48.27900696,58.13286724,43.01590668,11.94823912,1.852781994,87.17660292,16.53,3.561288374,453.3873821
2010 [YR2010],42.7,58.13440044,43.01590668,11.94823912,1.852781994,85.98654709,15.15,2.894904104,562.4992194
2011 [YR2011],43.22201891,58.13133404,43.01590668,11.94517272,1.852781994,82.48756219,12.61,3.689508302,608.7388559
2012 [YR2012],69.1,58.12980084,43.01590668,11.94363951,1.852781994,85.90998043,15.36,4.077627729,653.4174791
2013 [YR2013],68.0408783,58.12366803,43.01590668,11.93597351,1.852781994,78.6364081,16.86,3.466788304,638.7331848
2014 [YR2014],89.5,58.12366803,43.01590668,11.91450869,1.852781994,85.32354903,18.93,3.657576065,626.5129305
2015 [YR2015],71.5,58.12366803,43.01590668,11.90530948,1.852781994,86.05011125,17.53,3.121341229,566.8811327

In [48]:
Ytrainn=transposed_df[11]
Ytrainn

2000 [YR2000]    0.055166607
2001 [YR2001]    0.055292719
2002 [YR2002]    0.066810138
2003 [YR2003]    0.073004968
2004 [YR2004]    0.054866759
2005 [YR2005]    0.080361134
2006 [YR2006]    0.089756909
2007 [YR2007]    0.109940042
2008 [YR2008]    0.165573355
2009 [YR2009]    0.239506901
2010 [YR2010]    0.304230216
2011 [YR2011]    0.408965291
2012 [YR2012]    0.335061035
2013 [YR2013]    0.298087813
2014 [YR2014]    0.283692396
2015 [YR2015]    0.297971775
Name: 11, dtype: object

In [27]:
Ytrainn.shape

(16,)

In [66]:
X_train=Xtrain.head(15)
Y_train=Ytrainn.head(15)
X_test=Xtrain.tail(1)
Y_test=Ytrainn.tail(1)

In [53]:
Y_test

2013 [YR2013]    0.298087813
2014 [YR2014]    0.283692396
2015 [YR2015]    0.297971775
Name: 11, dtype: object

In [33]:
X_test

,0,1,2,3,4,5,6,7,8,9,10
2011 [YR2011],43.22201891,58.13133404,43.01590668,11.94517272,1.852781994,0.0,0.0,82.48756219,12.61,3.689508302,608.7388559
2012 [YR2012],69.1,58.12980084,43.01590668,11.94363951,1.852781994,0.0,0.0,85.90998043,15.36,4.077627729,653.4174791
2013 [YR2013],68.0408783,58.12366803,43.01590668,11.93597351,1.852781994,0.0,0.0,78.6364081,16.86,3.466788304,638.7331848
2014 [YR2014],89.5,58.12366803,43.01590668,11.91450869,1.852781994,0.0,0.0,85.32354903,18.93,3.657576065,626.5129305
2015 [YR2015],71.5,58.12366803,43.01590668,11.90530948,1.852781994,0.0,0.0,86.05011125,17.53,3.121341229,566.8811327

In [54]:
Y_test

2013 [YR2013]    0.298087813
2014 [YR2014]    0.283692396
2015 [YR2015]    0.297971775
Name: 11, dtype: object

In [69]:
import pandas as pd
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
from sklearn.svm import SVC
from imblearn.over_sampling import RandomOverSampler
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Assuming you have your feature matrix X and target vector y ready



# Initialize the logistic regression model
#logistic_regression = LogisticRegression()
logistic_regression = SVC()
#logistic_regression = LinearRegression()
#logistic_regression = RandomForestRegressor()
#logistic_regression = GradientBoostingRegressor()
#logistic_regression = SVR()
#logistic_regression = KNeighborsRegressor(n_neighbors=5)
# Train the model on the training data
oversampler = RandomOverSampler(random_state=42)
X_train_resampled, y_train_resampled = oversampler.fit_resample(X_train, Y_train)
logistic_regression.fit(X_train_resampled, y_train_resampled)

# Predict on the test data
y_pred = logistic_regression.predict(X_test)

# Evaluate the model
#accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:",y_pred  )
mse = mean_squared_error(Y_test, y_pred)

# Calculate root mean squared error
rmse = np.sqrt(mse)

print("Root Mean Squared Error:", rmse)

Accuracy: ['0.304230216']
Root Mean Squared Error: 0.0062584410000000035

In [65]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense

# Load your prepared training and testing data
# X_train, y_train, X_test are assumed to be already prepared

# Reshape input data for LSTM (assuming X_train and X_test are 2D arrays)
# X_train = X_train.reshape(X_train.shape[0], X_train.shape[1], 1)
# X_test = X_test.reshape(X_test.shape[0], X_test.shape[1], 1)

# Build the LSTM model
model = Sequential()
model.add(LSTM(units=50, return_sequences=True, input_shape=(X_train.shape[1], 1)))
model.add(LSTM(units=50))
model.add(Dense(units=1))
model.compile(optimizer='adam', loss='mean_squared_error')

# Train the model
model.fit(X_train.astype(float), X_train.astype(float), epochs=25, batch_size=31)

# Make predictions on the test data
predictions = model.predict(X_test.astype(float))
print(predictions)
# You may want to inverse transform the predictions if you scaled your data
# scaler.inverse_transform(predictions)

Epoch 1/25

/opt/conda/lib/python3.10/site-packages/keras/src/layers/rnn/rnn.py:205: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

1/1 ━━━━━━━━━━━━━━━━━━━━ 3s 3s/step - loss: 17441.2188
Epoch 2/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 33ms/step - loss: 17409.6797
Epoch 3/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 61ms/step - loss: 17377.1543
Epoch 4/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 63ms/step - loss: 17343.5293
Epoch 5/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step - loss: 17308.6582
Epoch 6/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 61ms/step - loss: 17272.4922
Epoch 7/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 63ms/step - loss: 17235.0957
Epoch 8/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step - loss: 17196.6074
Epoch 9/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step - loss: 17157.2402
Epoch 10/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 62ms/step - loss: 17117.3223
Epoch 11/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 63ms/step - loss: 17077.2715
Epoch 12/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 33ms/step - loss: 17037.5898
Epoch 13/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 60ms/step - loss: 16998.7930
Epoch 14/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 61ms/step - loss: 16961.3555
Epoch 15/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 64ms/step - loss: 16925.6484
Epoch 16/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 40ms/step - loss: 16891.9082
Epoch 17/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 57ms/step - loss: 16860.2168
Epoch 18/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step - loss: 16830.5176
Epoch 19/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step - loss: 16802.6172
Epoch 20/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step - loss: 16776.2031
Epoch 21/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step - loss: 16750.9512
Epoch 22/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 63ms/step - loss: 16726.5820
Epoch 23/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 59ms/step - loss: 16702.8926
Epoch 24/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 63ms/step - loss: 16679.7383
Epoch 25/25
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 62ms/step - loss: 16657.0117
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 298ms/step
[[7.074307 ]
 [7.0702767]
 [7.0705295]]